*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(/pictures/background.jpg);
    background-size: cover;
    overflow: hidden;
    opacity: 0.95;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;   
}
nav li:first-child{
    margin-right: auto;
}

#wrapper{
    display: flex;
    flex-direction: column;
}

#labels{
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: 50px;
    text-align: center;
    gap: 10px;
}

#PUSH{
    flex: 1;
    align-items: center;
}

#PULL{
    flex: 1;
    align-items: center;
}

#LEGS{
    flex: 1;
    align-items: center;
}

#stats{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#push{
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}
#pull{
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;

}
#legs{
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;

}