<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Gauntlet</title>
    <link rel="stylesheet" href="incorrect.css">
    <!-- <script type="text/javascript" src="/validation.js" defer></script> -->
    <link rel="icon" type="image/x-icon" href="weight.svg">
</head>
<body>
    <div class="wrapper">
        <!-- Action tells what file to send the data to -->
        <h1>Incorrect Username / Password</h1>
        
        <p><a href="login.html">Back</a></p>
    </div>
</body>
</html>